In [24]:
import numpy as np
import pandas as pd
import random

1.Write a function that inputs an integers and returns the negative.

In [1]:
def return_negative (integer):
    return -integer

In [2]:
x = 4
return_negative(x)

-4

2.Write a function that inputs a list of integers and returns the minimum value.

In [4]:
def return_min_value (lst):
    min_value = float('inf')
    for x in lst:
        if x < min_value:
            min_value = x
    return min_value

In [5]:
lst = [-3, 0, 2, 100, -1, 2]
return_min_value (lst)

-3

3.Challenge problem:

Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example

lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)

should return a DataFrame that looks like:
	one 	two
0 	0 	0
1 	.5 	.666
2 	1 	1

In [16]:
def return_df (lst1,lst2,str1,str2):
    col1_values = []
    for x in lst1:
        num = random.uniform(0, 1)
        col1_values.append(num)
    col2_values = []
    for x in lst2:
        num =  random.uniform(0, 1)
        col2_values.append(num)
    
    df = pd.DataFrame({str1: col1_values, str2: col2_values})
    return df

In [17]:
lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'

return_df (lst1,lst2,str1,str2)

         one     alpha
0   0.460386  0.296741
1   0.663060  0.871630
2   0.261401  0.188038
3   0.436834  0.519136
4   0.824750  0.757074
..       ...       ...
95  0.897828  0.457273
96  0.698347  0.454583
97  0.307649  0.349968
98  0.242509  0.785401
99  0.538021  0.512033

[100 rows x 2 columns]