In [259]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import statsmodels.api as sm
import scipy.stats.distributions as dist
import scipy.stats

In [264]:
da = pd.read_csv("C:/Users/eli/Desktop/nhanes_2015_2016.csv")
da['SMQ020'] = da["SMQ020"].map({1:1, 2:0})
da.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1.0,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1.0,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1.0,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,0.0,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,0.0,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [265]:
da["RIAGENDR"] = da["RIAGENDR"].map({1:"Male", 2:"Female"})
da.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1.0,Male,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1.0,Male,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1.0,Male,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,0.0,Female,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,0.0,Female,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

# Question 1

Conduct a hypothesis test (at the 0.05 level) for the null hypothesis that the proportion of women who smoke is equal to the proportion of men who smoke.
Computed P-value is 4.583041683422152e-58 which shows that there is statistically significant difference in the population ratio between the males smokers and the females smokers.

In [266]:
df = da.groupby("RIAGENDR").agg({"SMQ020": [np.mean, np.size]})
df.columns = ["Proportion of smokers", "Total n"]
df

          Proportion of smokers  Total n
RIAGENDR
Female                 0.304845     2976
Male                   0.513258     2759

In [16]:
n_male_total = 2759
n1 = 0.513258 * n_male_total
p_hat_male_smoker = 0.513258

n_female_total = 2976
n2 = 0.304845 * n_female_total
p_hat_female_smoker = 0.304845

p_hat_total = (n1 + n2) / (n_male_total + n_female_total)
best_est = p_hat_male_smoker - p_hat_female_smoker
best_est

0.20841300000000001

In [17]:
Z_test_stats = best_est / np.sqrt(p_hat_total * (1 - p_hat_total) * (1/n_male_total + 1/n_female_total))
Z_test_stats

16.06370941013077

In [18]:
# Calculate the P-value
pvalue = 2*dist.norm.cdf(-np.abs(Z_test_stats)) # Multiplied by two indicates a two tailed testing.
print("Computed P-value is", pvalue)

Computed P-value is 4.583041683422152e-58

Q1b. Construct three 95% confidence intervals: one for the proportion of women who smoke, one for the proportion of men who smoke, and one for the difference in the rates of smoking between women and men.

In [23]:
 # 95% confidence intervals for the proportion of men who smoke
E_male = 1.96 * np.sqrt(p_hat_male_smoker * (1 - p_hat_male_smoker) / n_male_total)
lower_b = p_hat_male_smoker - E_male
upper_b = p_hat_male_smoker + E_male
print(lower_b, upper_b)

0.4946071986726034 0.5319088013273966

In [22]:
# 95% confidence intervals for the proportion of women who smoke
E_female = 1.96 * np.sqrt(p_hat_female_smoker * (1 - p_hat_female_smoker) / n_female_total)
lower_b = p_hat_female_smoker - E_female
upper_b = p_hat_female_smoker + E_female
print(lower_b, upper_b)

0.2883055915893855 0.32138440841061444

In [24]:
# 95% confidence intervals for the difference in the rates of smoking between men and women
E_diff = 1.96 * np.sqrt((p_hat_male_smoker * (1 - p_hat_male_smoker) / n_male_total) + 
                        (p_hat_female_smoker * (1 - p_hat_female_smoker) / n_female_total))
lower_b = (p_hat_male_smoker - p_hat_female_smoker) - E_diff
upper_b = (p_hat_male_smoker - p_hat_female_smoker) + E_diff
print(lower_b, upper_b)

0.18348501530955375 0.23334098469044628

# Question 2

Partition the population into two groups based on whether a person has graduated college or not, using the educational attainment variable DMDEDUC2. Then conduct a test of the null hypothesis that the average heights (in centimeters) of the two groups are equal. Next, convert the heights from centimeters to inches, and conduct a test of the null hypothesis that the average heights (in inches) of the two groups are equal.
The Hypothesis test shows that there is statistically significant difference in heights between these two groups - graduated college or not.

In [267]:
# have completed college vs don't have completed college
da["DMDEDUC2"] = da["DMDEDUC2"].replace({1:0, 2:0, 3:0, 4:0, 5:1, 7:np.nan, 9:np.nan})
da["DMDEDUC2"] = da["DMDEDUC2"].dropna()
da["DMDEDUC2"]

0       1.0
1       0.0
2       0.0
3       1.0
4       0.0
       ...
5730    0.0
5731    1.0
5732    0.0
5733    0.0
5734    1.0
Name: DMDEDUC2, Length: 5735, dtype: float64

In [82]:
dh = da.groupby("DMDEDUC2").agg({"BMXHT": [np.mean]})
dh

               BMXHT
                mean
DMDEDUC2
0.0       165.466519
1.0       167.855351

In [83]:
height_graduated = da.loc[da.DMDEDUC2 == 1, "BMXHT"]
height_non_graduated = da.loc[da.DMDEDUC2 == 0, "BMXHT"]
print(height_non_graduated.mean(), height_graduated.mean())

165.4665188470065 167.85535055350562

In [93]:
print(sm.stats.ztest( height_non_graduated.dropna(), height_graduated.dropna()))

(-7.569245765210218, 3.753973608321762e-14)

Convert the heights from centimeters to inches, and conduct a test of the null hypothesis that the average heights (in inches) of the two groups are equal. The results are the same - there is  statistically significant difference in heights between these two groups - graduated college or not.

In [85]:
da["BMXHT_INCHES"] = da["BMXHT"] / 2.54
da["BMXHT_INCHES"]

0       72.637795
1       67.480315
2       66.968504
3       63.346457
4       64.921260
          ...
5730    65.275591
5731    71.732283
5732    59.921260
5733    68.228346
5734    64.960630
Name: BMXHT_INCHES, Length: 5735, dtype: float64

In [88]:
dh = da.groupby("DMDEDUC2").agg({"BMXHT_INCHES": [np.mean]})
dh

         BMXHT_INCHES
                 mean
DMDEDUC2
0.0         65.144299
1.0         66.084784

In [90]:
height_non_graduated = da.loc[da.DMDEDUC2 == 0, "BMXHT_INCHES"]
height_graduated = da.loc[da.DMDEDUC2 == 1, "BMXHT_INCHES"]
print(height_non_graduated.mean(), height_graduated.mean())

65.14429875866409 66.08478368248244

In [92]:
print(sm.stats.ztest(height_non_graduated.dropna(), height_graduated.dropna(), ))

(-7.569245765210218, 3.753973608321762e-14)

# Question 3

Conduct a hypothesis test of the null hypothesis that the average BMI for men between 30 and 40 is equal to the average BMI for men between 50 and 60. After testing p-value is 0.36897190924214873 that is higher than 0.05 (sigificant level). We don't have enough evidence to accept that BMI is different for men between 30 and 40 and for men between 50 and 60.
Then carry out this test again after log transforming the BMI values.After testing p-value is 0.4803222133688403. And in this case we don't have enough evidence to accept that BMI is different for men between 30 and 40 and for men between 50 and 60.

In [130]:
df_male30_40 = da.loc[(da.RIDAGEYR >= 30) & (da.RIDAGEYR <= 40) & (da.RIAGENDR == "Male"), "BMXBMI"]
df_male30_40.mean()

29.613729508196734

In [131]:
df_male50_60 = da.loc[(da.RIDAGEYR >= 50) & (da.RIDAGEYR <= 60) & (da.RIAGENDR == "Male"), "BMXBMI"]
df_male50_60.mean()

29.249999999999996

In [129]:
print(sm.stats.ztest(df_male30_40.dropna(), df_male50_60.dropna()))

(0.8984008016755222, 0.36897190924214873)

In [147]:
da["log_BMXBMI"] = np.log(da["BMXBMI"])
da.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210,log_BMXBMI
0,83732,1.0,NaN,1.0,1.0,Male,62,3,1.0,5.0,...,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0,3.325036
1,83733,1.0,NaN,6.0,1.0,Male,53,3,2.0,3.0,...,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN,3.427515
2,83734,1.0,NaN,NaN,1.0,Male,78,3,1.0,3.0,...,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0,3.360375
3,83735,2.0,1.0,1.0,0.0,Female,56,3,1.0,5.0,...,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0,3.747148
4,83736,2.0,1.0,1.0,0.0,Female,42,4,1.0,4.0,...,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0,3.010621

In [151]:
df_male30_40 = da.loc[(da.RIDAGEYR >= 30) & (da.RIDAGEYR <= 40) & (da.RIAGENDR == "Male"), "log_BMXBMI"]
df_male30_40.mean()

3.3653907870271893

In [150]:
df_male50_60 = da.loc[(da.RIDAGEYR >= 50) & (da.RIDAGEYR <= 60) & (da.RIAGENDR == "Male"),"log_BMXBMI"]
df_male50_60.mean()

3.35623020612263

In [152]:
print(sm.stats.ztest(df_male30_40.dropna(), df_male50_60.dropna()))

(0.7057844184100666, 0.4803222133688403)

# Question 4

Suppose we wish to compare the mean BMI between college graduates and people who have not graduated from college, focusing on women between the ages of 30 and 40. First, consider the variance of BMI within each of these subpopulations using graphical techniques, and through the estimated subpopulation variances. Then, calculate pooled and unpooled estimates of the standard error for the difference between the mean BMI in the two populations being compared. Finally, test the null hypothesis that the two population means are equal, using each of the two different standard errors.

In [268]:
df_female30_40 = da.loc[(da.RIDAGEYR >= 30) & (da.RIDAGEYR <= 40) & (da.RIAGENDR == "Female"), :]
df_female30_40

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
7,83742,1.0,NaN,1.0,0.0,Female,32,1,2.0,0.0,...,114.0,70.0,64.5,151.3,28.2,34.1,33.1,31.5,93.3,2.0
12,83752,1.0,NaN,2.0,1.0,Female,30,2,1.0,0.0,...,104.0,50.0,71.2,163.6,26.6,37.3,35.7,31.0,90.7,2.0
34,83799,NaN,NaN,NaN,0.0,Female,37,2,1.0,0.0,...,110.0,72.0,66.6,161.6,25.5,NaN,NaN,NaN,NaN,2.0
50,83828,1.0,NaN,2.0,0.0,Female,39,1,2.0,0.0,...,100.0,62.0,71.3,162.0,27.2,36.8,34.6,29.1,94.6,NaN
61,83851,2.0,1.0,1.0,1.0,Female,37,3,1.0,0.0,...,122.0,74.0,85.1,155.3,35.3,32.5,33.6,36.1,106.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5668,93585,NaN,NaN,NaN,1.0,Female,34,4,1.0,1.0,...,108.0,60.0,54.1,170.0,18.7,NaN,NaN,NaN,NaN,2.0
5685,93612,2.0,2.0,NaN,0.0,Female,36,5,1.0,1.0,...,112.0,74.0,65.7,162.4,24.9,37.2,36.0,29.8,89.0,2.0
5715,93665,NaN,NaN,NaN,0.0,Female,34,3,1.0,1.0,...,126.0,84.0,69.0,169.6,24.0,38.9,37.5,27.6,91.5,2.0
5721,93676,1.0,NaN,2.0,0.0,Female,35,4,1.0,1.0,...,114.0,76.0,92.2,161.7,35.3,41.5,37.5,38.9,110.9,2.0
5722,93677,1.0,NaN,1.0,0.0,Female,34,3,1.0,1.0,...,110.0,78.0,62.2,167.4,22.2,39.8,37.7,28.5,83.3,2.0

In [269]:
female30_40_graduated_vs_non = df_female30_40.groupby("DMDEDUC2").agg({"BMXBMI": [np.mean, np.std, np.size]})
female30_40_graduated_vs_non

             BMXBMI
               mean       std size
DMDEDUC2
0.0       31.257345  8.256083  358
1.0       27.808187  7.358264  174

Consider the variance of BMI within each of these subpopulations through the estimated subpopulation variances. Variances are not equal for these groups. Confidence interval for population variance (group without degree) is 59.172701554846896 to 79.38136286172579 and for group with degree is: 44.32717602761395 to 67.64478241004501 The First group (without degree) has higher variance in BMI.

In [270]:
# Find Right Chi-Square critical value for the group without degree
right_critical = scipy.stats.chi2.ppf(1-.025, df=357)
print(f'Right Chi-Squared distribution Critical Value is: {right_critical}')

Right Chi-Squared distribution Critical Value is: 411.23959160418184

In [271]:
# Find Left Chi-Square critical value for the group without degree
left_critical = scipy.stats.chi2.ppf(.025, df=357)
print(f'Left Chi-Squared distribution Critical Value is: {left_critical}')

Left Chi-Squared distribution Critical Value is: 306.54749105175966

In [272]:
# Confidence interval for population variance (without degree)
left_b = (358 - 1) * (8.256083 * 8.256083) / right_critical
right_b = (358 - 1) * (8.256083 * 8.256083) / left_critical
print(left_b, right_b)

59.172701554846896 79.38136286172579

In [273]:
# Find Right Chi-Square critical value for the group with degree
right_critical = scipy.stats.chi2.ppf(1-.025, df=173)
print(f'Right Chi-Squared distribution Critical Value is: {right_critical}')

Right Chi-Squared distribution Critical Value is: 211.3132694799735

In [274]:
# Find Left Chi-Square critical value for the group with degree
left_critical = scipy.stats.chi2.ppf(.025, df=173)
print(f'Left Chi-Squared distribution Critical Value is: {left_critical}')

Left Chi-Squared distribution Critical Value is: 138.47218010739664

In [291]:
# Confidence interval for population variance (with degree)
left_b = (174 - 1) * (7.358264 * 7.358264) / right_critical
right_b = (174 - 1) * (7.358264 * 7.358264) / left_critical
print(left_b, right_b)

44.32717602761395 67.64478241004501

Calculate pooled and unpooled estimates of the standard error for the difference between the mean BMI in the two populations. Then, calculate pooled and unpooled estimates of the standard error for the difference between the mean BMI in the two populations being compared. Finally, test the null hypothesis that the two population means are equal, using each of the two different standard errors.
Answer: We reject the Null Hypothesis, because P-value is very small. We have enough evidence to accept the Alternative Hypothesis: average BMI in these two groups (females between 30-40 with and without degree) is not equal.

In [312]:
bmi_non_degree = da.loc[(da.RIDAGEYR >= 30) & (da.RIDAGEYR <= 40) & (da.RIAGENDR == "Female")
                        & (da.DMDEDUC2 == 0),"BMXBMI"].dropna()
bmi_non_degree.mean()

31.25734463276835

In [313]:
bmi_degree = da.loc[(da.RIDAGEYR >= 30) & (da.RIDAGEYR <= 40) & (da.RIAGENDR == "Female")
                        & (da.DMDEDUC2 == 1),"BMXBMI"].dropna()
bmi_degree.mean()

27.808187134502933

In [314]:
# First approach - assumption that (Ïƒ1 * Ïƒ1) is not equal to (Ïƒ2 * Ïƒ2)
bmi_non_degree = sm.stats.DescrStatsW(bmi_non_degree)
bmi_degree = sm.stats.DescrStatsW(bmi_degree)
print("pooled: ", sm.stats.CompareMeans(bmi_non_degree, bmi_degree).ztest_ind(usevar='pooled', alternative='larger'))

pooled:  (4.643908450956419, 1.7093955033558891e-06)

In [302]:
# Second approach - assumption that (Ïƒ1 * Ïƒ1) is equal to (Ïƒ2 * Ïƒ2)
print("unequal: ", sm.stats.CompareMeans(bmi_non_degree, bmi_degree).ztest_ind(usevar='unequal'))

unequal:  (4.833662355599096, 1.3404386169204186e-06)

# Question 5

Conduct a test of the null hypothesis that the first and second diastolic blood pressure measurements within a subject have the same mean values.
Answer: There is enough evidence to reject the Null Hypothesis and accept that the first and second blood pressure measurements within a subject are not equal.

In [254]:
dx = da[["BPXDI1", "BPXDI2"]].dropna()
db = dx.BPXDI1 - dx.BPXDI2
print(db.mean())

0.3490407897187558

In [255]:
sm.stats.ztest(db)

(4.140387087476751, 3.467202439743513e-05)